#parrafo-prueba{
    background-color: black;
    color: white;
    border: 7px double crimson;
    border-top-width: 50px;
    border-top-color: crimson;
    border-right-width: 60px;
    border-right-color: firebrick;
    border-bottom-width: 80px;
    border-bottom-color: darkred;
    border-left-width: 120px;
    border-left-color:brown;
     
}
.img-1{
    border: 20px solid tomato;
    border-radius: 30px;
}
.img-2{
    border: 50px double darkblue;
    border-top-color:aqua;
    border-bottom-color: aquamarine;
    border-left-color:cornflowerblue;
}
.img-3{
    display:flex ;
    border: 40px dotted lightcoral;
}
.img-4{
    border: 70px groove ghostwhite;
    border-top-width: 130px;
    border-right-width: 10px;
    border-bottom-color: red;
    border-right-style: double;
}
p.uno {
    border-style: solid;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
}

p.dos {
    border-style: solid;
    border-width: 20px 5px;
    /* 20px top and bottom, 5px on the sides */
}

p.tres {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    /* 25px top, 10px right, 4px bottom and 35px left */
}
p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}
