.estrofa-1{
    color:yellow;
}
.estrofa-2{
    color: blue;
}
.estrofa-3{
    color: red;
}
.estrofa-4{
    color:yellow;
}
.estrofa-5{
    color: blue;
}
.estrofa-6{
    color: red;
}
.estrofa-7{
    color:yellow;
}
.estrofa-8{
    color: blue;
}
.estrofa-9{
    color: red;
}
.estrofa-10{
    color:yellow;
}
.estrofa-11{
    color: blue;
}