.parrafo-1{
    color:yellow;
}
.parrafo-2{
    color: blue;
}
.parrafo-3{
    color: red;
}
.parrafo-4{
    color:yellow;
}
.parrafo-5{
    color: blue;
}
.parrafo-6{
    color: red;
}
.parrafo-7{
    color:yellow;
}
.parrafo-8{
    color: blue;
}
.parrafo-9{
    color: red;
}
.parrafo-10{
    color:yellow;
}
.parrafo-11{
    color: blue;
}