body{
    background-color:black;
}
h1{
    text-align: center;
    text-transform:capitalize;
    color: blueviolet;
    font-size: 100px;
}
h2{
    text-align: left;
    text-transform:capitalize;
    color:chocolate;
    font-size: 40px;
}
.parrafo-1 p{
    text-align: justify;
    color:blue;
    font-size: 20px;
}
.parrafo-2 p{
    text-align: justify;
    color:aquamarine;
    font-size: 20px;
}
.parrafo-3 p{
    text-align: justify;
    color:chartreuse;
    font-size: 20px;
}